<head>
    <link rel="stylesheet" href="/stylesheets/cart_style.css">
</head>

<center>
    <form action="/cart/delivery-and-payment" method="POST" >
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="card" style="margin-bottom: -3px;">
                        <div class="card-header">
                            <b>DANE REZERWUJĄCEGO</b>
                        </div>
                        <div class="card-body">
                            <input class="cart_inputs" type="text" name="name" placeholder="Imię" value="{{ name }}">
                            <input class="cart_inputs" type="text" name="surname" placeholder="Nazwisko" value="{{ surname }}">
                            <br>
                            <input class="cart_inputs" type="text" name="address" placeholder="Ulica" value="{{ address }}">
                            <input class="cart_inputs" type="text" name="address_cd" placeholder="Nr domu/lokalu" value="{{ address_cd }}">
                            <br>
                            <input class="cart_inputs" type="text" name="postcode" placeholder="Kod pocztowy" value="{{ postcode }}">
                            <input class="cart_inputs" type="text" name="city" placeholder="Miasto" value="{{ city }}">
                            <br>
                            <input class="cart_inputs" type="text" name="email" placeholder="E-mail" value="{{ email }}">
                            <input class="cart_inputs" type="text" name="phone_number" placeholder="Telefon" value="{{ phone_number }}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <b>WYBRANE BILETY</b>
                        </div>
                        <div class="card-body card-text" id="my-tickets">
                            <!-- tutaj wyświetlanie koszyka, bez edycji-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mt-3">
                        <div class="card-header">
                            <b>FORMA DOSTAWY</b>
                        </div>
                        <div class="card-body card-radio-buttons">
                            <input type="radio" id="collection" name="delivery" value="collection">
                            <label for="collection">ODBIÓR OSOBISTY</label>
                            <br>
                            <input type="radio" id="e-ticket" name="delivery" value="e-ticket">
                            <label for="e-ticket">BILET ELEKTRONICZNY</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                        <div class="card-header">
                            <b>FORMA PŁATNOŚCI</b>
                        </div>
                        <div class="card-body card-radio-buttons">
                            <input type="radio" id="by-collection" name="payment" value="by-collection">
                            <label for="by-collection">PŁATNOŚĆ PRZY ODBIORZE</label>
                            <br>
                            <input type="radio" id="transfer" name="payment" value="transfer">
                            <label for="transfer">PRZELEW TRADYCYJNY</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card mt-3">
                        <div class="card-body card-booking justify-content-center">
                            <div class="g-recaptcha" data-sitekey="6LcrreYUAAAAAGeERM9Etdv8wlh81RCSK0LXuwfX"></div>
                            <br>
                            <input class="btn btn-success btn-lg" id="booking-button" type="submit" value="REZERWUJ">
                            <br>
                            <a style="width: 100%;">{{ message }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</center>

<script>
    function truncate(str, n){
        return (str.length > n) ? str.substr(0, n-1) + '&hellip;' : str;
    };

    $(document).ready(function(){
        var cart = {{ cart_php|json_encode|raw }};
        let length = cart.length;

        var tickets = document.getElementById("my-tickets");

        for (let i = 0; i < length; i++) {
            var ticket = truncate(cart[i]['title'], 18) + ' - ' + cart[i]['date'] + ' ' + cart[i]['time'] +  '<br>';
            tickets.innerHTML += ticket;
        }

        var button = document.createElement('a');
        tickets.appendChild(button);
        button.className = "btn btn-success btn-md";
        button.style = "width: 80%;";
        button.href = "/cart";
        button.innerHTML = "EDYTUJ";

    });
</script>