<head>
    <link rel="stylesheet" href="/stylesheets/cart_style.css">
</head>

<center>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <b>DANE REZERWUJĄCEGO</b>
                    </div>
                    <div class="card-body">
                        <form action="/confirmation" method="POST" style="margin-bottom: -13px;">
                            <input class="cart_inputs" type="text" name="name" placeholder="Imię" value="{{ name }}">
                            <input class="cart_inputs" type="text" name="surname" placeholder="Nazwisko" value="{{ surname }}">
                            <br>
                            <input class="cart_inputs" type="text" name="address" placeholder="Ulica" value="{{ address }}">
                            <input class="cart_inputs" type="text" name="address_cd" placeholder="Nr domu/lokalu" value="{{ address_cd }}">
                            <br>
                            <input class="cart_inputs" type="text" name="postcode" placeholder="Kod pocztowy" value="{{ postcode }}">
                            <input class="cart_inputs" type="text" name="city" placeholder="Miasto" value="{{ city }}">
                            <br>
                            <input class="cart_inputs" type="text" name="email" placeholder="E-mail" value="{{ email }}">
                            <input class="cart_inputs" type="text" name="phone_number" placeholder="Telefon" value="{{ phone_number }}">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <b>WYBRANE BILETY</b>
                    </div>
                    <div class="card-body">
                        <!-- tutaj wyświetlanie koszyka, bez edycji-->
                        <a href="/cart" class="btn btn-success btn-md" role="button" style="width: 80%;">EDYTUJ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mt-3">
                    <div class="card-header">
                        <b>FORMA DOSTAWY</b>
                    </div>
                    <div class="card-body card-radio-buttons">
                        <form action="/confirmation" method="POST">
                            <input type="radio" id="collection" name="delivery" value="collection">
                            <label for="collection">ODBIÓR OSOBISTY</label>
                            <br>
                            <input type="radio" id="e-ticket" name="delivery" value="e-ticket">
                            <label for="e-ticket">BILET ELEKTRONICZNY</label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-3">
                    <div class="card-header">
                        <b>FORMA PŁATNOŚCI</b>
                    </div>
                    <div class="card-body card-radio-buttons">
                        <form action="/confirmation" method="POST">
                            <input type="radio" id="by-collection" name="payment" value="by-collection">
                            <label for="by-collection">PRZY ODBIORZE</label>
                            <br>
                            <input type="radio" id="transfer" name="payment" value="transfer">
                            <label for="transfer">PRZELEW TRADYCYJNY</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card mt-3">
                    <div class="card-body card-booking">
                        <form action="/confirmation" method="POST">
                            <div class="g-recaptcha" data-sitekey="6LcrreYUAAAAAGeERM9Etdv8wlh81RCSK0LXuwfX"></div>
                            <input class="btn btn-success btn-lg" id="booking-button" type="submit" value="REZERWUJ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
