<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main_style.css">
</head>

<div class="jumbotron" style="background-color: #f5f5f5;">
    <div class="container-xl">
        <div class="row">
            <div class="col-4 photo" >
                <button class="arrow left" id="<">
                    <i class="arr lef"></i>
                </button>
                <a id= "cont1" href="https://s123.labagh.pl/movies/show/{{ id[0] }}"><img id="img1" src="{{ poster_path[0] }}" ></a>
            </div>
            <div class="col-4 photo">
                <a id="cont2" href="https://s123.labagh.pl/movies/show/{{ id[1] }}"><img id="img2" src="{{ poster_path[1] }}" ></a>

            </div>
            <div class="col-4 photo">
                <button class="arrow right" id=">">
                    <i class="arr rig"></i>
                </button>
                <a id="cont3" href="https://s123.labagh.pl/movies/show/{{ id[2] }}"><img id="img3" src="{{ poster_path[2] }}" ></a>
            </div>

        </div>
    </div>
</div>

<script>

    const posters = [];
    const id = [];
    {% for i in 0..8 %}
    posters[{{ i }}] = "{{ poster_path[i] }}";
    id[{{ i }}] = "{{ id[i] }}";
    {% endfor %}


    var next = document.getElementById(">");
    var prev = document.getElementById("<");

    $(document).ready(function () {

        next.onclick = function () {
            for (let j = 1; j <= 3; j++) {

                let image = document.getElementById(("img").concat(j.toString()));
                // let cont = document.getElementById(("cont").concat(j.toString()));
                let currentindex = posters.findIndex(element => element == (image.src).substring(22));

                if (currentindex == 8) {
                    image.src = posters[0]
                    image.parentElement.href = ("https://s123.labagh.pl/movies/show/").concat(id[0]);
                } else {
                    image.src = posters[currentindex + 1];
                    image.parentElement.href = ("https://s123.labagh.pl/movies/show/").concat(id[currentindex + 1]);
                }
            }
        }

        prev.onclick = function () {
            for (let j = 1; j <= 3; j++) {

                let image = document.getElementById(("img").concat(j.toString()));
                let cont = document.getElementById(("cont").concat(j.toString()));
                let currentindex = posters.findIndex(element => element == (image.src).substring(22));

                if (currentindex == 0) {
                    image.src = posters[8]
                    cont.href = ("https://s123.labagh.pl/movies/show/").concat(id[8]);
                } else {
                    image.src = posters[currentindex - 1];
                    cont.href = ("https://s123.labagh.pl/movies/show/").concat(id[currentindex - 1]);
                }
            }
        }
    });

    var intervalId = setInterval(function() {
        for (let j = 1; j <= 3; j++) {

            let image = document.getElementById(("img").concat(j.toString()));
            let currentindex = posters.findIndex(element => element == (image.src).substring(22));

            if (currentindex >5 ){
                image.src = posters[currentindex-6]
                image.parentElement.href  = ("https://s123.labagh.pl/movies/show/").concat(id[currentindex-6]);
            } else {
                image.src = posters[currentindex + 3];
                image.parentElement.href  = ("https://s123.labagh.pl/movies/show/").concat(id[currentindex + 3]);
            }
        }
    }, 3000);
    // next.addEventListener("click", changeimg(">"));
    // prev.addEventListener("click", changeimg("<"));

</script>
