<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main_style.css">

</head>

<body>
<div class="jumbotron">

    <div class="container-xl">
        <div class="row">
            <div class="col-4 photo">
                <button class="arrow left" id="<">
                    <i class="arr lef"></i>
                </button>
                <img id="img1" src="{{ poster_path[0] }}">
                <div class="title 1">{{ title[0] }}</div>
            </div>
            <div class="col-4 photo">
                <img id="img2" src="{{ poster_path[1] }}">
                <div class="title 2">{{ title[1] }}</div>

            </div>
            <div class="col-4 photo">
                <button class="arrow right" id=">">
                    <i class="arr rig"></i>
                </button>
                <img id="img3" src="{{ poster_path[2] }}">
                <div class="title 3">{{ title[2] }}</div>
            </div>

        </div>
    </div>
</div>


<script>
    let k = 1;
    console.log(("img").concat(k.toString()));

    const posters = [];
    {% for i in 0..8 %}
    posters[{{ i }}] = "{{ poster_path[i] }}";
    {% endfor %}



    var next = document.getElementById(">");
    var prev = document.getElementById("<");

    $(document).ready(function () {


        // function changeimg(x) {
        //     if (x == ">") {
        //         for (let j = 1; j <= 3; j++) {
        //             let image = document.getElementById(("img").concat(j.toString()));
        //             let currentindex = posters.findIndex(element=> element=image.src);
        //             if (currentindex = !8) {
        //                 image.src = posters[currentindex + 1];
        //             } else {
        //                 image.src = posters[0]
        //             }
        //         }
        //         console.log("działa");
        //     } else if (x == "<") {
        //         for (let j = 1; j <= 3; j++) {
        //             let image = document.getElementById(("img").concat(j.toString()));
        //             let currentindex = posters.findIndex(element=> element=image.src);
        //             if (currentindex = !0) {
        //                 image.src = posters[currentindex - 1];
        //             } else {
        //                 image.src = posters[8]
        //             }
        //         }
        //     }
        //     else{
        //     }
        // }

        next.onclick = function () {
            for (let j = 1; j <= 3; j++) {
                let image = document.getElementById(("img").concat(j.toString()));
                let currentindex = posters.findIndex(element => element == image.src);
                if (currentindex == 8) {
                    image.src = posters[0]
                } else {
                    console.log(currentindex);
                    image.src = posters[currentindex + 2];
                }
            }
            console.log("działa");
        }
        prev.onclick = function () {
            for (let j = 1; j <= 3; j++) {
                let image = document.getElementById(("img").concat(j.toString()));
                let currentindex = posters.findIndex(element => element == image.src);
                if (currentindex == 0) {
                    image.src = posters[8]
                } else {
                    image.src = posters[currentindex - 1];
                }
            }
        }
        // next.addEventListener("click", changeimg(">"));
        // prev.addEventListener("click", changeimg("<"));
    });

</script>
</body>