<div class="modal" id="reservationModal">
    <span class="modal-content" style="color: white;">
        <div class="modal-header">
            <p class="modal_title">{{ title }}</p>
            <p class="modal_close">&times;</p>
        </div>
        <div class="row align-items-start">
            <div class="col-5">
                <div class="container ml-3 mt-5">
                    <img class="med_img" src="{{ poster_path }}" alt="">
                </div>
            </div>
            <div class="form-group col mr-4 mt-5" style="font-style: oblique">
                <form action="/cart" method="POST">
                    <input type="hidden" name="movieTitle" value="{{title}}" />
                    <label for="movieDate">Wybierz datę seansu:</label>
                    <br>
                    <input type="date" id="movieDate" name="movieDate"  max="{{ expiration_date }}" style="width: 100%">
                    <br><br>
                    <label for="movieHour">Wybierz godzinę seansu:</label>
                    <select class="form-control" id="movieHour" name="movieHour">
                      {% for hour in movie_hours %}
                          <option>{{ hour }}:00</option>
                      {% endfor %}
                    </select>
                    <br><br><br>
                    <input name="continue" value="DODAJ DO KOSZYKA" class="btn btn-success btn-lg btn-block" role="button" type="submit" aria-pressed="true">
                </form>
            </div>
        </div>
    </span>
</div>

<div class="container mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img class="big_img" src="{{ poster_path }}" alt="">
                </div>
                <span class="col-md" style="color: white;">
                    <br>
                    <span class="card-title" style="font-family: Impact; font-size: 40px;">{{ title }}</span>
                    <br><br>
                    <b>Opis:</b> {{ detailed_description }}
                    <br><br>
                    <b>Gatunek:</b> {{ genre }}
                    <br>
                    <b>Czas trwania:</b> {{ duration }} min.
                    <br>
                    <b>Produkcja:</b> {{ production }}
                    <br>
                    <b>Reżyseria:</b> {{ direction }}
                    <br>
                    <b>Premiera:</b> {{ available_date }}
                    <br>
                    <b>Data wygaśnięcia:</b> {{ expiration_date }}
                    <br><br>
                    <div class="absolute_buttons">
                        <button id="reservationButton" class="btn btn-success mx-2 btn-lg float-right" role="button" aria-pressed="true">REZERWUJ BILET</button>
                        <a href="/movies" class="btn btn-success mx-2 btn-lg float-right" role="button" aria-pressed="true">POWRÓT</a>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container mt-1">
    <div class="card">
        <div class="card-body mx-auto">
            <span class="mx-auto" style="color: white; font-family: Impact; font-size: 60px;">TRAILER</span>
            <br>

        </div>
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ trailer_URL }}" allowfullscreen></iframe>
            </div>
        </div>
        <br>
    </div>
</div>

<script>
    // Get current date
    var dateString = new Date().toISOString();
    dateString = dateString.substr(0,10);

    var movieDate = document.getElementById("movieDate");
    movieDate.setAttribute("value", dateString);
    movieDate.setAttribute("min", dateString);

    // Get the modal
    var modal = document.getElementById("reservationModal");

    // Get the button that opens the modal
    var btn = document.getElementById("reservationButton");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("modal_close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    function closeModal(){
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>